<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <h1>Formular</h1>
    <form action="<%= formSubmits.action %>" method="<%= formSubmits.method %>" enctype="<%= formSubmits.enctype %>">
        <% formInputs.forEach(element => { %>
            <label for="<%= element.name %>"><%= element.label %></label>
            <% if (element.type === 'textarea') { %>
                <% if (element.required) { %>
                <textarea name="<%= element.name %>" cols="<%= element.cols %>" rows="<%= element.rows %>" required></textarea>
                <% } else { %>
                    <textarea name="<%= element.name %>" cols="<%= element.cols %>" rows="<%= element.rows %>"></textarea>
                <% } %>
            <% } else { %>
                <% if (element.required) { %>
                    <input type="<%= element.type %>" name="<%= element.name %>" id="<%= element.name %>" required>
                <% } else { %>
                    <input type="<%= element.type %>" name="<%= element.name %>" id="<%= element.name %>">
                <% } %>
            <% } %>
    
            <br>
        <% }); %>
    
        <br>
        <br>
        <input type="submit" value="<%= formSubmits.submitValue %>">
    </form>
    
    
</body>
</html>